// base colors
$base_bg: #cccccc;
$base_a: #234545;
$base_p: #ffff67;
$base_div: #ffff67;

// extend or use mixin if property values to pass as arg - may have some functions
@import 'list';

.nshow{
    display: block
}
.nhide{
    display: none
}
.block{
    border: 1px solid black;
    padding: 10px 0;
}
    

// nest a nav

div{
    &#main{
        > div.row{
            > div#balance{
                @include list(120px,#ffffff);
                &:hover{
                    background-color: $base_bg;
                };
            } 
            > div#status{
                @include list(120px,#ffffff);
                &:hover{
                    background-color: $base_bg;
                };
            }
            > div#test{
                @include list(120px,#ffffff);
                &:hover{
                    background-color: $base_bg;
                };
            }
        }
    }
}




